* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Fredoka', sans-serif;
}

:root {
    --title: #e53170;
    --bgcards: #0f0e17;
    --text: #fffffe;
    --mail: #039bdc;
}

.container {
    max-width: 1200px;
    text-align: center;
    margin: 2.2rem auto;
}

h1 {
    color: var(--title);
    font-size: 3rem;
}

p {
    font-size: 1.3em;
}

.card {
    float: left;
    margin-right: 1.5rem;
    width: calc(100% / 3) - 4.5rem;
    text-align: left;
    background-color: var(--bgcards);
    margin-top: 4rem;
}

.align {
    margin-top: 1rem;
    padding-left: 9rem;
}

img {
    float: left;
    max-width: 30%;
}

.text {
    margin-top: 0.5rem;
    color: var(--text);
}

.mail {
    margin-top: 0.5rem;
    color: var(--mail);
}